# server
server/.vscode

# Python
__pycache__/
**/__pycache__
*.py[cod]
*$py.class

# client
client/node_modules
client/.vscode

# testing
client/coverage


# dependencies
client/node_modules
.pnp
.pnp.js

# misc
env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
#ordner venv
venv

client/src/data/SWISSTLM3D_no_height.gpkg
client/src/data/prepared_graph.pkl
routing-valhalla
myenv3117
myenv311
ortools_package
.venv
ortools_package
recyclroute-venv
valhalla_docker