.button-panel {
    position: absolute;
    bottom: 120px;    /* z.B. 10px unter der Top-Bar (wenn diese 50px hoch ist) */
    right: 10px;  /* Abstand vom rechten Rand */
    z-index: 200; /* Höher als die Karte, damit sie oben angezeigt werden */
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  /* Inhalt des Modals */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
  }
  
  .addmarker-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    z-index: 999;
    align-items: flex-end;
    pointer-events: none;
  }

  .addmarker-content {
    pointer-events: auto;
    background-color: #fff;
    padding: 10px;
    max-width: 80%;
    max-height: 30%;
    overflow: auto;
    outline-color: #000000;
    outline-style: solid;
    outline-width: 2px;
    margin-bottom: 117px;    /* 80px vom unteren Rand entfernt */
    display: flex;          /* Elemente in einer Zeile anordnen */
    flex-direction: column;
    gap: 5px; 
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .ReportMapButtons {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: #2F2F2F;
    border-width: 1px;
    background-color: #A67C52;
    cursor: pointer;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    }
.ReportMapButtons:hover {
    background-color: #6D4C41;
}
  