.Header {
  background-color: #85A995;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #273028;
  height: 80px !important;
  padding-left: 15px;
}


#HeaderTitle {
  color: #273028;
  font-size: 25px;
  font-weight: 700;
}
