.ReportPageMapButtons {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: #2F2F2F;
    border-width: 1px;
    background-color: #A67C52;
    cursor: pointer;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    }
.ReportPageMapButtons:hover {
    background-color: #6D4C41;
}

.PlannerPageMapButtons {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: #273028;
    border-width: 1px;
    background-color: #227d5a;
    cursor: pointer;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    }
.PlannerPageMapButtons:hover {
    background-color: #AED581;
}

.maplibregl-popup-close-button {
    display: none !important;
  }